<stimulsoft-viewer-angular
  *ngIf="showViewer"
  [requestUrl]="'http://localhost:52076/Viewer/{action}'"
  [action]="'InitViewer'"
  [height]="'100%'"
  (design)="showViewer = false"
></stimulsoft-viewer-angular>
<stimulsoft-designer-angular
#designer
  *ngIf="!showViewer"
  [requestUrl]="'http://localhost:52076/Designer/Get'"
  [height]="'100%'"
  [width]="'100%'"
			(designerLoaded)="this.designer.designerEl.nativeElement.style.height='100%'"
>
  Loading designer...
</stimulsoft-designer-angular>
